
html {
	background-color: #869960;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 110%;
}

header {
	padding-top: 20px;
	/*padding-bottom: 20px;*/
	color: #617140;
}
header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

header p {
	margin: 0;
}

.site-nav {
	margin-top: 20px;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav ul li {
	list-style: none;
	float: left;
	margin-right: 20px;
}

.site-nav ul li a {
	border: 3px solid #e5e9dc;
	border-bottom: none;
	padding: 10px;
	display: block;
	text-decoration: none;
	color: #617140;
}

.site-nav ul li a:hover {
	color: #FFF;
	background-color: #617140;
}

.container {
	/*940px*/
	max-width: 700px; 
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

.content-area {
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

.sidebar {
	width: 34%;
	float: right;
	background-color: #e5e9dc;
	padding-right: 20px;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 90%;
}

img {
	width: 100%;
	height: auto;
}

.image-banner {
	position: relative;
}

.image-banner img {
	display: block;
}

.banner-description {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0px 5px;
}

.notes {
	font-size: 80%;
}

/*Table style*/
table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

table th {
	text-align: left;
	background-color: #869960;
	color: #FFF;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

table th,
table td {
	border: 1px solid #869960;
	padding: 5px;
	vertical-align: top;
}

table tbody tr:nth-child(even) td {
	background-color: #e5e9dc;
}

table tr :nth-child(2),
table tr :nth-child(4) {
	text-align: center;
}

footer {
	text-align: center;
	font-size: 90%;
	color: #999;
	padding-bottom: 20px;
	padding-top: 20px;
}

.col-name {
	width: 60%;
}

.col-aisle,
.col-price {
	width: 15%;
}

.col-quantity {
	width: 10%;
}

.group:before, .group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}